td, th{
    font-size: large;
    border: cadetblue;
    color: beige;
}
.active_page{
    color: rgba(224, 175, 109, 0.98);
}
.button_page{
    color: wheat;
    border: 2px solid beige;
    padding: 20px;
    font-size: large;
}
